/*********** 
   fonts
************/

/* Popins 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* Niconne normal */
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
/* font-family: 'Niconne', cursive; */

/* ------------------------------
    base styles or utilities 
-------------------------------*/

body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;

}
/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/*------------------------ 
    Top banner Styles 
----------------------- */
.container-1{
   
    background-color: #2D25A0;

}
.top-banner{
    display: flex;
    justify-content: space-around;
    /* width: 1440px;
    height: 667px; */
    padding: 49px 88px;
}
/* top banner hover transform */

.top-banner:hover .button{
    background-image: linear-gradient(yellow, red);
}

.banner-title{
    font-size: 64px;
    font-weight: bold;
    color: white;
    width: 485px;
    height: 230px;
    padding-bottom: 27px;
}
.button{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    width: 88px;
    height: 24px;
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
}
.fa-arrow-right{
    padding-left: 8px;  
}

.banner img{
    width: 556px;
    height: 438px;
}

/* ----------------------
    Top players styles 
------------------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 70px 210px 0 180px;
}
.player{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 27px;
}
.player-picture img{
    
    width: 300px;
    height: 256px;
}
.player-name{
    font-size: 28px;
    color: #18191F;
    padding-top: 16px;
    margin: 0%;
}
.player-info{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 400;
    width: 300px;
    height: 104px;
    padding-top: 10px;
    padding-bottom: 18px;
    margin: 0%;
    
}
/*-------------------- 
    Footer styles 
---------------------*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 63px;
}
.footer-title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 158px;
    margin-bottom: 0%;
    font-family: 'Niconne', cursive;
    font-size: 72.5806px; 
    font-weight: normal;
    color: #10437A;
}
.footer-link{
    font-size: 32px;
    
}
.copyright{

    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/*----------------------------------------- 
        Responsive for Mobile Devices
------------------------------------------ */

/* Mobile devices */

@media only screen and (max-width:688px) {
   /* Top banner responsive */
    .top-banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .banner-title{
        font-size: 36px;
        width: 278px;
        height: 138px;
    }
    
    
    .banner img{
        height: 259.17144775390625px;
        width: 329px;
        padding-top: 50px;
    }

    /* top player responsive */
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    /* footer styles responsive */
    footer{
        margin-bottom: 187px;
    }
    .footer-title{
        font-size: 29px;
        margin-top: 47px;
        
    }

}
/*Tablet Device responsive*/

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .top-banner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-title{
        font-size: 36px;
        width: 278px;
        height: 138px;
    }
    .banner img{
        height: 259.17144775390625px;
        width: 329px;
        padding-top: 50px;
    }    

    /* Players responsive */
    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    /* footer responsive */
    footer{
        margin-bottom: 187px;
    }
    .footer-title{
        margin-top: 47px;
    }
}

/* Thank You Vaia for Watching */
    
